@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: #fff;
    -webkit-text-stroke: 0.1em #000;
}
.vidas{
    text-align: center;
}
.vidas .marioTitle{
    color: red;
    text-transform: uppercase;
}
.moeda{
    height: 30px;
}
.moedinhas1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coins{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: center;
}
.points{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placar{
    margin-top: 2em;
    padding: 0px 10vw;
    height: 75px;
    display: flex;
    font-size: 1em;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.SquareCounter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.marioBonus{
    font-size: 2em;
}
.square a{
    margin: -11px;
    height: 64px;
    width: 74px;
    border: 8px solid rgb(51, 156, 241);
    border-radius: 17px;
    display: block;
}
.square{
    height: 70px;
    width: 80px;
    border: 14px solid #000;
    border-radius: 20px;
}
.time h3{
    text-align: center;
    text-transform: uppercase;
    color: rgb(247, 222, 82)!important;
}
h3{
    padding: 5px;
}
h2{
    margin-top: 75px;
    font-size: 1.2em;
}
h1{
    font-size: 1.8em;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.restart{
    position: absolute;
    width: 50px;
    filter: invert(10%);
    animation: girar 5s infinite ease;
}
.restart:hover{
    transform: scale(2.5);
}
.fade{
    animation: fade-in 1s ease-in-out
}
.btn-restart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}
.game-board {
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}
.grama{
    width: 100vw;
    height: 40px;
    animation: pipe-animation 2s infinite;
}
.clouds1{
    position: absolute;
    margin-top: 20px;
    width: 400px;
    animation: clouds-animation 20s infinite linear;
}
.clouds2{
    position: absolute;
    margin-top: 60px;
    width: 250px;
    animation: clouds-animation 25s infinite linear;
}
.pipe {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 60px;
    animation: pipe-animation 2s infinite linear;
}
.mario{
    width: 100px;
    position: absolute;
    bottom: 0;
}
.jump{
    animation: mario-jump 500ms ease-out;
}
@keyframes clouds-animation {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}
@keyframes mario-jump {
    0%{
        bottom: 0px;
    }
    40%{
        bottom: 170px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 150px;
    }
    80%{
        bottom: 90px;
    }
    100%{
        bottom: 0px;
    }
}
@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}
@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes girar{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}